# Environment Variables
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# Backup files
.env.backup
.env.*.backup

# IDE specific files
.idea
.vscode
*.swp
*.swo

# Virtual environment
.venv/

# Python cache files
*.pyc
__pycache__/

# Other files
.env
.DS_Store